@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-image: url('./img/sky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 4.5vh;
}